<%= form_for [:admin, booking], local: true do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time %>
  </div>

  <div class="field">
    <%= form.label :pickup_location %>
    <%= form.text_field :pickup_location %>
  </div>

  <div class="field">
    <%= form.label :dropoff_location %>
    <%= form.text_field :dropoff_location %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :car_id %>
    <%= form.text_field :car_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
