<h2>Bookings</h2>

<table>
  <thead>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th>Pickup location</th>
      <th>Dropoff location</th>
      <th>User</th>
      <th>Car</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= readable_time(booking.start_time) %></td>
        <td><%= readable_time(booking.end_time) %></td>
        <td><%= booking.pickup_location %></td>
        <td><%= booking.dropoff_location %></td>
        <td><%= booking.user.display_name %></td>
        <td><%= booking.car.model %></td>
        <td><%= link_to 'Show', admin_booking_path(booking) %></td>
        <td><%= link_to 'Edit', edit_admin_booking_path(booking) %></td>
        <td><%= link_to 'Delete', admin_booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking', new_admin_booking_path %>

<br><br>

<%= render 'calendar' %>
