<p>
  <strong>Start time:</strong>
  <%= readable_time(@booking.start_time) %>
</p>

<p>
  <strong>End time:</strong>
  <%= readable_time(@booking.end_time) %>
</p>

<p>
  <strong>Pickup location:</strong>
  <%= @booking.pickup_location %>
</p>

<p>
  <strong>Dropoff location:</strong>
  <%= @booking.dropoff_location %>
</p>

<p>
  <strong>User:</strong>
  <%= @booking.user.display_name %>
  (<%= @booking.user.email %>)
</p>

<p>
  <strong>Car:</strong>
  <%= @booking.car.model %>
</p>

<%= link_to 'Edit', edit_admin_booking_path(@booking) %> |
<%= link_to 'Back', admin_bookings_path %>
