<h2>Manufacturers</h2>

<table>
  <thead>
      <tr>
        <th>Name</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @manufacturers.each do |manufacturer| %>
        <tr>
          <td><%= manufacturer.name %></td>
          <td><%= link_to 'Show', admin_manufacturer_path(manufacturer) %></td>
          <td><%= link_to 'Edit', edit_admin_manufacturer_path(manufacturer) %></td>
          <td><%= link_to 'Delete', admin_manufacturer_path(manufacturer),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New manufacturer', new_admin_manufacturer_path %>