<%= form_for [:admin, @car], local: true do |form| %>

  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@car.errors.count, "error") %> prohibited
        this car from being saved:
      </h2>
      <ul>
        <% @car.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :model %><br>
    <%= form.text_field :model %>
  </div>

  <div class="field">
    <%= form.label :manufacturer_id %>
    <%= collection_select(:car, :manufacturer_id, Manufacturer.all, :id, :name, prompt: 'Please select a car manufacturer') %>
  </div>

  <div class="field">
    <%= form.label :car_group_id %>
    <%= collection_select(:car, :car_group_id, CarGroup.all, :id, :name, prompt: 'Please select a car group') %>
  </div>

  <p>
    <%= form.submit %>
  </p>

<% end %>