<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>

<% if alert %>
  <p class="alert"><%= alert %></p>
<% end %>

<header>
  <h1>Admin Panel</h1>

  <% if user_signed_in? %>
    <p>
      Welcome <strong><%= current_user.display_name %></strong> |
      <%= link_to 'Sign out',  destroy_user_session_path, method: :delete %>
    </p>
  <% end %>

  <nav>
    <ul>
      <li><a href="<%= admin_dashboard_path %>">Dashboard</a></li>
      <li><a href="<%= admin_bookings_path %>">Bookings</a></li>
      <li><a href="<%= admin_cars_path %>">Cars</a></li>
      <li><a href="<%= admin_manufacturers_path %>">Car Manufacturers</a></li>
      <li><a href="<%= admin_car_groups_path %>">Car Groups</a></li>
    </ul>
  </nav>
</header>